
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
  }

  @font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
  }

  html {
    height: 100%;
  }



  body {
    font-family: "PT Sans", sans-serif;
    width: 1200px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 24px;
    background-color: white;
    color: black;
   }

   .visually-hidden{
    position: absolute;
    width:1px;
    height:1px;
    margin:-1px;
    padding:0;
    border:0;
    clip: rect(0 0 0 0);
    overflow: hidden;
    }

    .main-container {
      flex-grow: 1;
      width: 1200px;
    }

    .page-container {
      width: 1200px;
      margin: 0 auto;
    }

/* Pages */
.page-header {color:black;
background-color: #FFFFFF;
text-align: center;
}

.navigation {
  width: 1200px;
  display: flex;
  margin: 0 auto;
  height: 64px;
}

.navigation-list {


  justify-content: space-evenly;
  margin: 0;
  padding: 0;

  width: 600px;
  height: 64px;
}


.navigation-link {
  font-family: "PT Sans", sans-serif;
  color: #000000;
  background: #ffffff;
  text-decoration: none;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
}

.description {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  width: 1200px;

}

.description-text {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.text-cause {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.advantages {

  width: 1200px;
  list-style-type: none;
  padding: 0;
  margin-top: 22px;

}

.images-city {
  display: block;
}


.hero {
   background-image: url("images/Rectangle 63.svg"), url("../images/foto/index-background.jpg");
   background-size: 100% auto,1200px 475px;
   background-repeat: no-repeat;
   background-position: left bottom, left top;

}
.advantages-item {
  color: #000000;
  background: #82b3d3;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  width: 400px;
  height: 385px;
}
.sedona-square p{
  color: #333333;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 0 85px 112px 85px;
}

.beauty-road p{
  color: #333333;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 0 85px 112px 85px;

}

.rare-tourist{
  color: #333333;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 0 85px 112px 85px;
}

.blue-item {
  color: #ffffff;
  background: #82b3d3;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  width: 400px;
  height: 385px;
}

.blue-item p{
  margin: 0 85px 102px 85px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  }

  .blue-item h3{
    margin:102px 112px 30px 112px;
  }

  .advantage-item h3 {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    padding:0;
     width: 175px;
    height: 56px;
    text-transform: uppercase;
  }


.rectangle {
  margin: 0 170px 30px 170px;
}

.sedona-square {
  background: #83b3d31f;
}

.beauty-road p{
  background: #83b3d333;
}

.sedona-square h3{
  margin: 112px 112px 30px 112px;

}

.beauty-road h3{
margin: 112px 112px 30px 112px;

}

.rare-tourist h3{
margin: 112px 112px 30px 112px;

}

.rare-tourist {
  background: #83b3d31f;

}
